<%= turbo_stream.update "search_results" do %>
  <% @movies.each do |movie| %>
    <div id="movie-<%= movie.id %>"
         class="text-xl"
         data-action="mousedown->movie-list#addToList"
         data-movie-id="<%= movie.id %>"
         data-title="<%= movie.title %>"
         data-vote-average="<%= movie.vote_average %>"
         data-vote-count="<%= movie.vote_count %>">
      <%= movie.title %>
    </div>
  <% end %>
<% end %>